rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function hasTenant(tenantId) {
      return request.auth != null && request.auth.token.tenantId == tenantId;
    }
    function isOwner(tenantId) {
      return hasTenant(tenantId) && request.auth.token.role == 'owner';
    }
    function isOwnerOrAdmin(tenantId) {
      return hasTenant(tenantId) &&
        (request.auth.token.role == 'owner' || request.auth.token.role == 'admin');
    }

    match /tenants/{tenantId} {
      allow read, write: if false;

      match /config/info {
        allow read: if true;
        allow write: if isOwnerOrAdmin(tenantId);
      }

      match /branches/{branchId} {
        allow read: if hasTenant(tenantId);
        allow write: if false;
      }

      match /{document=**} {
        allow read, write: if false;
      }
    }
  }
}
