rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /master-photos/{tenantId}/{masterId} {
      allow read: if true;
      allow write: if false;
    }
    match /service-icons/{tenantId}/{serviceId} {
      allow read: if true;
      allow write: if false;
    }
    match /category-icons/{tenantId}/{categoryId} {
      allow read: if true;
      allow write: if false;
    }
    match /tenant-banners/{tenantId}/{file} {
      allow read: if true;
      allow write: if false;
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}